.modal{
  height: auto;  
  width: auto;
  position: fixed;
  left: 850px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
 pointer-events: none;
 transition: 0.5s;

}

.modal.active {
    opacity: 1;
    pointer-events: all;

}

.modal__content{
    padding: 20px;
    border-radius: 7px;
    background-color: rgb(247, 246, 247);
    height: 450px;
    width: 340px;
    transform: scale(0.5);
    transition: 0.4s all;

}

.modal__content.active{
    transform: scale(1);

}