header {
    display: flex;
    justify-content: space-between;
    color: rgb(221, 195, 245);
    align-items: center;
    padding: 35px;
    background: rgb(225, 207, 241);;
}

.header__logo {

    
    font-weight: 1100;
}

nav {
    display: flex;
    gap: 30px;
}