.table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

th {
    border-bottom: 1px solid black;
}

td {
    text-align: center;
}